.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #54dc8f;
    font-family: 'Fredoka One', sans-serif;
}

.component-container {
    display: flex;
    flex-direction: column;
    height: 92vh;
    width: 92vw;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 3px #155a33;
    background-color: #93e6b7;
}