.create-user-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.first-name-input, .last-name-input, .username-input, .password-input {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}