.back-home-button {
    color: inherit;
    position: fixed;
    top: 10px;
    left: 10px;
}

.profile-container {
    display: flex;
    height: 100%;
    flex-direction: row;
    /* align-items: center; */
    background-color: inherit;
    border-radius: inherit;
}

.profile-container-left {
    display: flex;
    width: 60%;
    flex-direction: column;
    align-items: center;
    border-radius: inherit;
}

.profile-container-right {
    display: flex;
    /* width: 40%; */
    font-size: 1.5em;
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(101, 160, 101);
    border: 2px solid black;
    margin: 70px;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: inherit;
    background-image: url("https://www.transparenttextures.com/patterns/diagonales-decalees.png");
}

.cover-image {
    width: 100%;
    height: 275px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    background-color: blue;
}

.profile-picture {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    margin: -150px 10px 10px 10px;
}

.profile-first-last-name {
    margin-top: 30px;
    margin-bottom: 5px;
    text-align: center;
    font-wei
}

.profile-user-name {
    font-size: 2em;
    margin: 0px;
}

.profile-role {
    font-size: 1.5em;
    margin-top: 30px;

}
.profile-email, .profile-date-joined {
    font-size: 1.5em;
    margin: 20px;
}