.user-sets-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.set-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 20%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 3px #155a33;
    background-color: #93e6b7;
}